# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Large Raw Geodata (Only runtime caches/SHPs are copied)
data/walkwayData/Vworld/
data/walkwayData/*.pbf
data/walkwayData/*.zip
data/playgroundData/*.zip

# Logs
logs/
*.log
